body{
    margin: 0px;
    background: #E1E1E1;
}


#topBlock{
    background: #4A90E2;
    height: 75px;
    text-align: center;
    margin-bottom: 24px;
}

.bookMark{
    background: #4A90E2;
    color: #00408B;
    text-align: center;
    font-size: 24px;
    height: 75px;
    width: 220px;
    border:none;
}

.select_bookMark{
    color: #ffffff;
    height: 70px;
    border-bottom:solid 5px #00408B;
}


.login{
    margin: auto;
    text-align: center;
}

.AddList{
    margin: 0px auto;
    text-align: center;
}

.ListTitle{
    color: black;
    font-family: Microsoft JhengHei;
    text-align: center;
    margin-top: 30px;
}

.ListContent{
    margin: 0px auto;
    text-align: center;
}

.inputTaskTitle{
    width: 620px;
    height: 75px;
    background: #F2F2F2;
    margin:0px auto;
    text-align: left;
    border-bottom:solid 3px #C8C8C8 ;
}

.taskTitle{
    background: #F2F2F2;
    border:none;
    height: 28px;
    width: 380px;
    font-size: 24px;
    margin: 25px;
}
/*要把勾選框變兩倍大，還要距離左邊界一些距離*/
.taskChk{
    margin-left: 20px;
    zoom: 2;
}
